@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100&display=swap');

body {
    margin: 0;
    height: 100vh;
}
#calculator {
    position: relative;
    top: 30px;
    left: 30px;
    width: 216px;
    height: 214px;
    font-size: 0; /* remove space between buttons */
    background-color: gray;
    border-radius: 5px;
    padding-left: 4px;
}
#display {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 30px;
    font-weight: bold;
    padding: 1px 2px;
    border: 2px solid black;
    height: 30px;
    width: 204px;
    margin-top: 4px;
    text-align: right;
    background-color: white;
    color: black;
}
button {
    font-size: 20px;
    width: 50px;
    margin-top: 4px;
    margin-right: 4px;
}
.span2 {
    width: 104px;
}
.span3 {
    width: 158px;
}
#hint {
    position: relative;
    top: 50px;
    left: 10px;
    width: calc(100% - 10px);
}